.mesh{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .mesh-item{
        padding: 5px;
        margin: 15px;
        background-color: #fff9;
        width: 30%;
        min-width: 300px;
        height: auto;
        transition: 0.15s ease-out;


        border-collapse: separate;
        border-bottom: 2px solid #0004;
        
        &:hover{
            box-shadow: 0px 0px 5px  #0005;
            cursor: pointer;
        }
    }
}
