:root{
    font-size: 16px;
    --primary-color-1: rgb(196, 131, 233);
    --primary-color-2: #DD19A3;
    --secondary-color-1: #bb91ad91;
    --secondary-color-2: #252324;
    --white-color: #fff;
    overflow-x: hidden;
    box-sizing: border-box;
}

@media (max-width: 767px) {
}

body {
    margin:0;
    padding: 0;
    background: var(--white-color);
    font-family: 'Open-sans', Courier, monospace;
}

::-webkit-scrollbar{
    width: 0.4rem;
}

::-webkit-scrollbar-track{
    background: var(--secondary-color-1);
}

::-webkit-scrollbar-thumb{
    background: #c6002180;
}